.App {
  text-align: center;
}
.MyRoutesComponent{
  margin-top: 25px;
}
.nav-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: 600;  
}
a{
  text-decoration: none;
}
.items{
  font-size: 30px;
  font-weight: 800;
  -webkit-text-stroke: 2px #2f0fc2;
  color: transparent;
}
.items:hover{
  -webkit-text-stroke: 2px #0be412;
}
.st{
  -webkit-text-stroke: 2px #130f27;
  font-size: 30px;
  color: transparent;
  text-shadow: 2px 2px 10px #f228b6;
}
.st:hover{
  -webkit-text-stroke: 1px #fe1b0f;
  color: transparent;
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  margin-bottom: 10px;
}
.add-new-student{
 margin-top: 30px;
 font-size: 20px;
 border-radius: 10px;
}
.edit-item{
  /* -webkit-text-stroke: 1px #331ca4; */
  /* color: transparent; */
  /* text-shadow: 1px 1px 2px #f228b6; */
  font-weight: bold;
  color: blueviolet;
}
.edit-item:hover{
  /* -webkit-text-stroke: 1px #f912b4; */
  /* color: transparent; */
  /* text-shadow: 2px 2px 2px #ff0101; */
  color: greenyellow;
}
